.app-wrapper {
  width: 800px;
  height: 600px;
  border: red solid 2px;
}

.ui-wrapper {
  background-color: aquamarine;
  height: 10%;
}

.text-area {
  background-color: black;
  color: white;
  height: 90%;
}
