.text-editor {
  width: 800px;
  height: 600px;
  border: red solid 2px;
}

.ui {
  background-color: aquamarine;
  height: 10%;
}

.text-area {
  background-color: black;
  color: white;
  height: 90%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.through {
  text-decoration: line-through;
}
