//body {
//  margin: 0;
//  padding: 0;
//}

.text-editor {
  width: 800px;
  height: 600px;
  border: red solid 2px;
}

.ui {
  background-color: aquamarine;
  height: 10%;
}

.text-area {
  position: relative;
  height: 90%;
  background-color: black;
  color: white;
}

.text-area_layer-text, .text-area_layer-ui {
  height: 100%;
  width: 100%;
}

.text-area_layer-ui {
  position: absolute;
  top: 0;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.text-line {
  position: relative;
  height: 20px;
}

.text-cursor {
  position: absolute;
  width: 4px;
  background-color: green;
}

.text-selection {
  position: absolute;
  background-color: blue;
  opacity: 0.5;
  height: 100%;
  top: 0;
}
